// Variables
$primary-orange-base: #ff6000;
$primary-orange-darken: #cf4f00;
$primary-orange-lighten: #ff8438;
$primary-blue: #6c84fa;

$secondary-darkGray: #484848;
$secondary-borderColor: #e5e5e5;
$secondary-lightDarkGray: #7b7b7b;
$secondary-extraLightGray: #ccc;
$secondary-extraExtraLightGray: #eee;
$secondary-lightestGray: #eff3f4;

$select-placeholder: #9b9b9b;
$select-activeBorder: #ddd;

// Yeni variables
$button-focus-border: #6c84fa33;
$input-bg-color: #e5e5e5;
$input-bg-disable-color: #f5f5f5;

// Default Variables
$default-color: #f0f0f0;
$default-text-color: #212121;
$default-text-color-light: #666666;
$default-text-color-extraLight: #9b9b9b;
$default-border-color: #dadada;
$default-border-color-light: #b0b0b0;

// Table Variables
$table-head-bg-color: #f5f5f5;
$table-head-text-color: #484848;
$table-head-border-color: #dadada;
$table-body-text-color: #646464;

// Primary Variables
$primary-color: #ff6000;
$primary-color-dark: #bf4800;
$primary-color-light: #ff904c;

// Secondary Variables
$secondary-color: #6b83fa;
$secondary-color-dark: #5365bf;
$secondary-color-light: #99aaff;
$secondary-color-toast: #f0f2ff;

// Variant Variables
$variant-color: #ffefe5;
$variant-color-dark: #ffbf99;

// Success Variables
$success-color: #008a09;
$success-color-dark: #006907;
$success-color-light: #36b23e;
$success-color-toast: #e5ffe7;

// Danger Variables
$danger-color: #fa0000;
$danger-color-dark: #bf0000;
$danger-color-light: #ff4c4c;
$danger-color-bg: #ffe5e5;

// Warning Variables
$warning-color: #b38900;
$warning-color-dark: #876700;
$warning-color-toast: #fff9e5;
