// Variables
$primary-orange-base: #ff6000;
$primary-orange-darken: #cf4f00;
$primary-orange-lighten: #ff8438;
$primary-blue: #6c84fa;

$secondary-darkGray: #484848;
$secondary-borderColor: #e5e5e5;
$secondary-extraExtraLightGray: #eee;
