@use './colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background: #fff;
  text-decoration: none;
  color: #000;
  border-color: #fff;
}

.ant-tabs-ink-bar {
  background: colors.$primary-orange-base;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: colors.$primary-orange-base;
}

.login-input-password > input {
  background: #eeeeee;
}

html,
body {
  height: 100vh;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

@layer base {
  details {
    & > summary,
    & > div {
      @apply z-50;
    }
    &[open] > summary::before {
      @apply fixed inset-0 z-40 block cursor-default content-[''];
    }
  }
}
@layer components {
  body.modal-open::after {
    @apply bg-black opacity-40 absolute inset-0 z-20 block cursor-default content-[''] w-full h-full;
  }

  .ant-btn.my-account {
    @apply w-40 h-full px-3 py-2 flex items-center gap-3 border-2 border-secondary-buttonGray bg-white rounded-md pointer-events-auto cursor-default;
  }
  .ant-btn.my-account:hover,
  .ant-btn.my-account:focus,
  .ant-btn.my-account:active {
    @apply border-secondary-buttonGray bg-white;
  }
  .ant-dropdown-menu.my-account-list li:hover {
    @apply bg-transparent;
  }
  .ant-dropdown-menu.my-account-list li {
    @apply p-0 text-sm text-secondary-darkGray leading-none;
  }
  .ant-dropdown-menu.my-account-list li a {
    @apply font-semibold block w-full pl-8 pr-4 pb-4 pt-0;
  }
  .ant-dropdown-menu.my-account-list li:last-child a {
    @apply pb-0;
  }

  .ant-dropdown-menu.my-account-list li a:hover {
    @apply text-secondary-buttonGray;
  }
}

.ant-row.ant-form-item {
  &:last-child {
    margin-bottom: 0;
  }
  .searchSelect {
    font-size: 16px !important;
    &.ant-select-status-success {
      .ant-select-selector {
        background-color: #fff !important;
        border-color: rgb(221, 221, 221) !important;
        color: colors.$secondary-darkGray;
      }
    }
    .ant-select-selector {
      background-color: colors.$secondary-extraExtraLightGray !important;
      border: 2px solid colors.$secondary-extraExtraLightGray !important;
      height: auto !important;
      border-radius: 8px !important;
      color: #9b9b9b;
      padding: 10px 14px !important;
      outline: 0;
      box-shadow: none !important;
    }
  }
}

.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100% !important;
}
.ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 16%) 0px 4px 8px 0px;
  padding: 8px;
  .ant-select-item {
    font-size: 16px;
    font-weight: 500;
    color: colors.$secondary-darkGray !important;
    padding: 12px 16px;
    &.ant-select-item-option-active {
      border-radius: 4px;
      background-color: transparent;
    }
    &.ant-select-item-option-selected {
      background-color: colors.$primary-orange-lighten !important;
      border-radius: 4px;
      color: #fff !important;
    }
  }
}

.submenu-banner span {
  height: 100% !important;
}
