@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-btn:hover, .ant-btn:focus, .ant-btn:active{
    background: #ff6000;
    text-decoration: none;
    color: #fff;
    border-color: #fff;

}
body {
  font-family: 'Roboto', sans-serif;
}
