@use './colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 400px;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background: #fff;
  text-decoration: none;
  color: #000;
  border-color: #fff;
}

.ant-tabs-ink-bar {
  background: colors.$primary-orange-base;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: colors.$primary-orange-base;
}

.login-input-password > input {
  background: #eeeeee;
}

html,
body {
  height: 100vh;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

@layer base {
  details {
    & > summary,
    & > div {
      @apply z-50;
    }
    &[open] > summary::before {
      @apply fixed inset-0 z-40 block cursor-default content-[''];
    }
  }
}
@layer components {
  body.modal-open::after {
    @apply bg-black opacity-40 absolute inset-0 z-20 block cursor-default content-[''] w-full h-full;
  }
  .ant-btn.my-account {
    @apply w-40 h-full px-3 py-2 flex items-center gap-3 border-2 border-secondary-buttonGray bg-white rounded-md pointer-events-auto cursor-default;
  }
  .ant-btn.my-account:hover,
  .ant-btn.my-account:focus,
  .ant-btn.my-account:active {
    @apply border-secondary-buttonGray bg-white;
  }
  .ant-dropdown-menu.my-account-list li:hover {
    @apply bg-transparent;
  }
  .ant-dropdown-menu.my-account-list li {
    @apply p-0 text-sm text-secondary-darkGray leading-none;
  }
  .ant-dropdown-menu.my-account-list li a {
    @apply font-semibold block w-full pl-8 pr-4 pb-4 pt-0;
  }
  .ant-dropdown-menu.my-account-list li:last-child a {
    @apply pb-0;
  }

  .ant-dropdown-menu.my-account-list li a:hover {
    @apply text-secondary-buttonGray;
  }
}

.submenu-banner span {
  height: 100% !important;
}

// Ant Design Overrides

.ant-modal-content {
  @apply rounded-lg overflow-hidden;
}
.ant-pagination {
  .ant-pagination-item {
    @apply rounded border-[#9b9b9b];
    &:not(&-active):hover {
      @apply border-primary-base;
      a {
        @apply text-primary-base;
      }
    }
    &-active {
      @apply bg-primary-base text-white border-primary-base;
      a {
        @apply text-white;
      }
    }
  }
  .ant-pagination-item-link {
    @apply rounded border-[#9b9b9b] flex items-center justify-center;
    &:not(&[disabled]):hover {
      @apply border-primary-base text-primary-base;
    }
  }
  .ant-pagination-disabled {
    .ant-pagination-item-link {
      @apply border-[#dadada];
    }
  }
}
