.sliderContainer {
  .dotsContainer {
    li {
      @apply indent-0 rounded-lg overflow-hidden border-2 border-transparent cursor-pointer;
      width: 60px !important;
      height: 44px !important;

      .dotBox {
        @apply relative block overflow-hidden w-full h-full;
      }
    }
  }
  :global {
    .slick-dots {
      @apply relative bottom-0 top-5;
      .slick-active {
        border-color: #000;
      }
    }
  }
}
